@{
    Layout = "_Layout";
}
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using WebApplication1.Models
@model List<Student>
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Age</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <th scope="row">@student.Id</th>
                <td>@student.Name</td>
                <td>@student.Surname</td>
                <td>@student.Age</td>
                <td>
                    <a asp-action="delete" asp-controller="home" asp-route-id="@student.Id">Delete</a>
                </td>
            </tr>
        }
       


    </tbody>
</table>